@width_header: 100vw;
@height_header: 12vh;
@font_size_header_name: 10.5vh;

.header{
    display: block; 
    position: absolute;
    width: @width_header;
    height: @height_header;
    background: url('../img/image1.jpg');
    background-size: cover;
    text-decoration: none;

    &_name-text{
        color: #2a0063;
        opacity: 0.77;
        text-align: center;
        text-decoration: none;
        font-size: @font_size_header_name;
        font-weight: bold;
        margin-left: 12vw;
    }
    
}